
@media only screen and (max-width: 800px), only screen and (max-device-width: 800px) {
    .page {
        width: 100vw;
    }
}
@media only screen and (max-width: 700px), only screen and (max-device-width: 700px) {
    #C3, #C3\#, #D3, #E3, #F3\#, #G3, #G3\#,
    #A5, #B5\♭, #B5 {
        display: none;
    }
}
@media only screen and (max-width: 630px) {
    .key {
        padding-left: 0.25rem;
        padding-right: 0.25rem;
        width: 6vw;
    }
}
@media only screen and (max-width: 515px) {
    form label {
        margin-right: 0.25rem;
    }
    .page.header, header {
        padding: 0.5rem;
    }
    .settings {
        padding-left: 0.5rem;
        padding-right: 0.5rem;
    }
    .configuration form {
        flex-direction: column;
    }
    .configuration .setting {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin: 0 0 0.5rem 0;
    }
    .configuration .setting button,
    .configuration .setting select {
        width: 100%;
    }
    .key {
        font-size: 1.4rem;
    }
        .key.black {
        font-size: 1.2rem;
    }
}
@media only screen and (max-width: 475px) {
    .key {
        font-size: 1.3rem;
    }
    .key.black {
        font-size: 1.1rem;
    }
}
@media only screen and (max-width: 450px) {
    .key {
        font-size: 1.2rem;
    }
        .key.black {
        font-size: 1.0rem;
    }
}